/* Styling for the header component */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
  }
  
  .logo-text {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color from parent */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #e50914; /* Netflix red color */
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #b2070d; /* Darker red color on hover */
  }